<div class="column">

  <form *ngIf="update === true">
    <input type="text" name="updateName" placeholder="nom du budget" [(ngModel)]="budget.name">
    <input type="number" name="updateNumber" placeholder="allouer une nouvelle somme" [(ngModel)]="budget.sum">
    <button class="button" (click)="updateBudget();update = !update"><span class="icon">
        <i class="fas fa-pen"></i>
      </span></button>
  </form>

  <h2 class=" title is-2">{{budget.name}}</h2>

  <table class="table operation-table">
    <thead>

      <tr>
        <th>Entrées</th>
        <th>Sorties</th>
        <th>Description</th>
        <th>Date</th>
        <th>Tags</th>
        <th>Type</th>

        <button class="button" (click)="update = !update"><span class="icon">
            <i class="fas fa-pen"></i>
          </span>
        </button>

        <button class="button is-black" (click)="deleteBudget()">
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
        </button>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let op of budget.operations">
        <td *ngIf="op.sum >= 0; else elseBlock" [ngStyle]="{'color':'#18F051'}"> {{op.sum}} </td>
        <ng-template #elseBlock>
          <td></td>
        </ng-template>

        <td *ngIf="op.sum < 0; else elseBlock" [ngStyle]="{'color':'#F0181F'}"> {{op.sum}} </td>
        <ng-template #elseBlock>
          <td></td>
        </ng-template>

        <td>{{op.description}}</td>
        <td>{{op.date | date:'dd/MM/yyyy'}}</td>
        <td><a *ngFor="let tag of op.tags" [routerLink]="['/tags',tag.name]">{{tag.name}}/</a></td>
        <td>{{op.type}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table operation-table">
    <thead>
      <tr>
        <th>Solde Initial</th>
        <th>Total Entrées</th>
        <th>Total Sorties</th>
        <th>Solde</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{budget.sum}}</td>
        <td>{{budgetTotalInput}}</td>
        <td>{{budgetTotalOutput}}</td>
        <td *ngIf="total >= 0; else elseBlock" [ngStyle]="{'color':'#18F051'}"> {{total}} </td>
        <ng-template #elseBlock>
          <td></td>
        </ng-template>

        <td *ngIf="total< 0; else elseBlock" [ngStyle]="{'color':'#F0181F'}"> {{total}} </td>
        <ng-template #elseBlock>
          <td></td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>