<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Budget Jones</strong> par PE, Guigui, Jon, Jess. Projet fait dans le cadre de la formation Developpeur&middot;euse WEB SIMPLON Lyon.
    </p>
  </div>
</footer>
