<form class="control has-text-centered" (ngSubmit)="login()" *ngIf="!(isLogged | async)">
    <h2 class="title">Se Connecter</h2>

  <label class="label" for="username">Username</label>
  <input class="input" type="text" [(ngModel)]="username" name="username">

  <label class="label" for="password">Password</label>
  <input class="input" type="password" [(ngModel)]="password" name="password">

  <button class="button is-dark">Login</button>
  <p *ngIf="feedback">{{feedback}}</p>
</form>
<section *ngIf="isLogged | async">
    <p>Welcome {{(isLogged | async).username}}</p>
    <button class="button is-dark" (click)="logout()">Logout</button>
</section>
