<h2 class=" title is-2">{{tagUrl}}</h2>
<div class="column">
  <table class="table operation-table">
    <thead>
      <tr>
        <th>Entrées</th>
        <th>Sorties</th>
        <th>Description</th>
        <th>Date</th>
        <th>Type</th>
        <th>Budgets</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let op of operationFilter">
        <td *ngIf="op.sum >= 0; else elseBlock" [ngStyle]="{'color':'#18F051'}"> {{op.sum}} </td>
        <ng-template #elseBlock>
          <td></td>
        </ng-template>

        <td *ngIf="op.sum < 0; else elseBlock" [ngStyle]="{'color':'#F0181F'}"> {{op.sum}} </td>
        <ng-template #elseBlock>
          <td></td>
        </ng-template>

        <td>{{op.description}}</td>
        <td>{{op.date | date:'dd/MM/yyyy'}}</td>
        <td>{{op.type}}</td>
        <td><a *ngFor="let item of op.budgets" [routerLink]="['/budgets',item.id]">{{item.name}}</a></td>
      </tr>
    </tbody>
  </table>
  <table class="table operation-table">
    <thead>
      <tr>
        <th>Total Entrées</th>
        <th>Total Sorties</th>
        <th>Solde</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{totalInput}}</td>
        <td>{{totalOutput}}</td>
        <td *ngIf="total>=0" [ngStyle]="{'color':'#18F051'}"> {{total}}</td>
        <td *ngIf="total<0" [ngStyle]="{'color':'#F0181F'}"> {{total}}</td>
      </tr>
    </tbody>
  </table>
</div>